.active {
    display: block;
    background: rgb(236, 221, 236);
    border-width: 10px;
    border-right-style: solid;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 246px;
}

.showUnderline {
    text-decoration: none;
}
